<h1>post COOL URL</h1>

<%= @name %> 
<br>
<%= @lastname %> <br>
<%= @description %> <br>
<%= @genre %> <br>
<%= @age %> <br>
<%= @post[:title] %> <br>
<%= @post[:price] %> <br>
<%= @post[:description] %> <br><br>
<%= params %> 