<h1>BLOG:</h1>
<fieldset>
  <legend>Tus POSTS: </legend>

  <% @posts.each do |post|%>
  <fieldset>
    <p id= 'title'><%= post.title%></p>
    <p id= 'body'><%= post.body%></p>
    <% post.tags.each do |tag|%>
      <div id= 'tags'>#<%= tag.name%></div> 
    <%end%>
  </fieldset>
    
    <a href= "/posts/<%=post.id%>/edit">Editar</a>
    <a href= "/posts/delete/<%=post.id%>">Eliminar</a>
  <%end%>
</fieldset>

    <form action='/' method="GET">  
        <input type="submit" value="Regresar" />
    </form>
