<h1>Welcome to Selfie!</h1>

<nav>
  <ul>
    <li><a href="/">Profile</a></li>
    <li><a href="/update">Update User!</a></li>
    <li><a href="/delete">Delete User!</a></li>
    <li><a href="/logout">Log Out!</a></li>
  </ul>
  <br clear="all">
</nav>

<h3>WELCOME <%= @user.name.upcase %></h3>
<div id="user_id"><%=current_user.id%></div>
<fieldset>
  <legend>Albums:</legend>
  <div id="folders">
    <%current_user.albums.each do |album|%>
      <div class='folder'>
        <a href="/user/<%=current_user.id%>/album/<%=album.id%>">
           <img src="/folder.png" alt="Folder_<%=album.title%>" height="100" width="100"> 
        </a>
        <div class="title_album"><%=album.title%></div>
      </div>
    <%end%>
  </div>
    <br>
    <button class="button new_album" type="button">Add new album!</button>
</fieldset>
<br>

<fieldset>
  <legend>Your photos:</legend>
  Reorder photos using the mouse:
  <br>
  <ul id="sortable">
      <%current_user.albums.each do |album|%>
        <% album.photos.each do |photo| %>
          <div class="photos"> 
            <li><a href="<%= photo.photo_url(:medium) %>">
            <img src="<%= photo.photo_url(:thumb) %>">
            </a></li>
          </div>
        <% end %>
      <%end%>
  </ul>
</fieldset>

<script></script>