<h1>Welcome to Selfie!</h1>

<nav>
  <ul>
    <li><a href="/">Profile</a></li>
    <li><a href="/update">Update User!</a></li>
    <li><a href="/delete">Delete User!</a></li>
    <li><a href="/logout">Log Out!</a></li>
  </ul>
  <br clear="all">
</nav>

<h3>WELCOME <%= @user.name.upcase %></h3>
<div id="user_id"><%=current_user.id%></div>
<fieldset>
  <legend>Albums:</legend>
  <div id="folders">
    <%current_user.albums.each do |album|%>
      <div class='folder'>
        <a href="/user/<%=current_user.id%>/album/<%=album.id%>">
          <img src="http://1.bp.blogspot.com/-41_lXhAblng/UBwDl4TfeRI/AAAAAAAAANc/OOjiYMYzHqI/s1600/plantilla_carpeta_by_rikardojimeneez-d4x7806.png" height="100" width="100">
          <!-- <img src="/folder.png" alt="Folder_<%=album.title%>" height="100" width="100"> -->
        </a>
        <div class="title_album"><%=album.title%></div>
      </div>
    <%end%>
  </div>
    <br>
    <button class="button new_album" type="button">Add new album!</button>
</fieldset>
<br>


<!-- Verificar que sea post, y que tenga el atributo enctype -->
<!-- <form method="post" enctype='multipart/form-data' action="/upload">
<! Verificar que name corresponda al nombre/campo del modelo -->
 <!--  <input type='file' name='photo[photo]'>
  <input type="hidden" name='album' value="<%=%>">
  <br/>
  <input class="button" type='submit' value='Upload!'>
</form> -->
<fieldset>
  <legend>Your photos:</legend>
  <%current_user.albums.each do |album|%>
  <% album.photos.each do |photo| %>
    <div class="photos"> 
      <a href="<%= photo.photo_url(:medium) %>">
      <img src="<%= photo.photo_url(:thumb) %>">
      </a>
    </div>
  <% end %>
  <%end%>
</fieldset>