<%i = 1%>
<%@questions.each do |question|%>
<fieldset>
    <legend>Question #<%=question.id%>:</legend>
    <% if @falla%>
      <p class= "fail"> No question found</p>
    <%end%>
    <p><%=question.text%></p>
    <p>Votes: <span id="vote_<%=question.id%>"><%=question.votes.length%></span></p>
    <form class="btn_vote" action="/vote" method="POST">
      <input type="hidden" name="question_id" value="<%=question.id%>" />
      <input type="submit" value="Vote it!" />
    </form>
    <form action="/question/answers/new" method="POST">
      <input type="hidden" name="question_id" value="<%=question.id%>" />
      <input type="submit" value="Answer it!" />
    </form>
    <% if !@answer_see%>
    <form action="/question/answers/" method="POST">
      <input type="hidden" name="question_id" value="<%=question.id%>" />
      <input type="submit" value="See Answers!" />
    </form>
    <%end%>
  <% if @answer_create%>
    <%= erb :create_answer, locals: {question: question }%>
  <%end%>
  <% if @answers%>
    <%= erb :_answer, locals: {question: question }%>
  <%end%>
  </fieldset>
  <%i += 1%>
<%end%>