<%= erb :_head%>

<%i = 1%>
<%@myanswers.each do |answer|%>
<%question = Question.find(answer.question_id)%>
<fieldset>
    <legend>Question #<%=question.id%>:</legend>
    <% if @falla%>
      <p class= "fail"> No question found</p>
    <%end%>
    <p><%=question.text%></p>
    <p>Votes: <span class = "question_vote" id="vote_<%=question.id%>"><%=question.votes.length%></span></p>
    <form class="btn_vote" action="/vote" method="POST">
      <input type="hidden" name= "question_id" value="<%=question.id%>" />
      <input type="submit" value="Vote it!" />
    </form>
    <form action="/question/answers/new" method="POST">
      <input type="hidden" name= "question_id" value="<%=question.id%>" />
      <input type="submit" value="Answer it!" />
    </form>
    <% if !@answer_see%>
    <form action="/question/answers/" method="POST">
      <input type="hidden" name= "question_id" value="<%=question.id%>" />
      <input type="submit" value="See Answers!" />
    </form>
    <%end%>
  <% if @answers%>
    <fieldset>
      <legend>Answer #<%=answer.id%>:</legend>
      <% if @falla%>
        <p class= "fail"> No answer found</p>
      <%end%>
      <p><%=answer.text%></p>
      <p>Votes: <span id="vote_<%=answer.id%>"><%=answer.votes.length%></span></p>
      <form class="btn_vote" action="/vote" method="POST">
        <input type="hidden" name= "answer_id" value="<%=answer.id%>" />
        <input type="submit" value="Vote it!" />
      </form>
    </fieldset>
  <%end%>
  </fieldset>
  <%i += 1%>
<%end%>