  <h1>¡MARATON!</h1>
  <h3>Bienvenido <%=@user.name%> :)</h3>

  <fieldset>
     <legend>Escoge tu Deck para empezar a jugar: </legend>
     <%@deck.each do |deck|%>
     <form action="/<%=@user.id%>/play/<%=deck.name%>" method="POST"> 
        <input type="hidden" name='user_id' value="<%=@user.id%>" />
        <input type="submit" name='deck_name' value="<%=deck.name%>" />
    </form>
    <%end%>
    <br>
  </fieldset>
    <br>
    <form action='/statistics' method="POST">
      <input type="hidden" name="user_id" value="<%=@user.id%>" />
      <input type="submit" name='deck' value="Estadisticas" />
    </form>
    <br>
    <form action='/logout' method="POST">  
        <input type="submit" value="Log Out!" />
    </form>
