<h1>¡MARATON!</h1>

<fieldset>
<legend>Las estadísticas de <%=@user.name%> son:</legend>
<p>Rounds Totales: <%=@user.rounds.length%></p>

<table>
  <tr>
    <th>Round</th>
    <th>Deck</th>
    <th>Guess</th>
    <th>Intentos</th>
    <th>Resultado</th>
  </tr>
  <%@user.rounds.each do |round|%>
  <%i = 1%>
    <%round.guesses.each do |guess|%>
      <tr>
        <td><%=round.id%></td>
        <td><%=Deck.find(round.deck_id).name%></td>  
        <td><%=i%></td> 
        <td><%=guess.tries%></td>
        <%if guess.result == true%>
        <td>Correcto</td>
        <%else%>
         <td>Incorrecto</td>
        <%end%>
        <%i += 1%>
      </tr>
    <%end%>
  <%end%>

</table>

</fieldset>
<%= erb :_return %>
