<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>

<h2> Resultado del Juego:</h2>
<br>

<h2> <%=@game.winner%></h2>

<br>

<p>Puntaje de <%=@player1.name%>: <%=100 - @game.result1%></p>
<p>Puntaje de <%=@player2.name%>: <%=100 - @game.result2%></p>