<h1>Survey Monkey Clon</h1>

<h2>BIENVENIDO <%= current_user.name %></h2>

<svg width="30" height="30">
  <circle cx="15" cy="15" r="15" fill="purple" />
</svg>

<svg width="30" height="30">
  <circle cx="15" cy="15" r="15" fill="pink" />
</svg>

  <form id="btn_create" action="/survey" method="POST">
    <% if @falla%>
      <p class="fail"> Error creating new survey. Please try again</p>
      <%end%>
    <input type="text"21 name="survey_name" placeholder="Title" />
    <input class="button" type="submit" value="Create Survey" />
  </form>

  <h3>Authored Surveys</h3>
  <table>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Statistics</th>
  </tr>
  <%current_user.surveys.each do |survey|%>
  <tr>
    <td><%=survey.name%></td>
    <td><a href="/survey/results/<%=survey.id%>">lala.ly/survey/<%=survey.id%></a></td>
    <% if survey.questions.first != nil %>
    <td><%=survey.questions.first.responses.length%></td>
    <%else%>
    <td>0</td>
    <%end%>
  </tr>
  <%end%>
</table>
<br>

 <h3>Taken Surveys</h3>
  <table>
  <tr>
    <th>Title</th>
  </tr>
  <%survey_name = []%>
  <%current_user.responses.each do |response|%>
    <%if response.survey_id != nil%>
    <%survey_name << Survey.find(response.survey_id).name%>
    <%end%>
  <%end%>
  <%survey_name.uniq!%>
  <%survey_name.each do |survey|%>
  <tr>
    <td><%=survey%></td>
  </tr>    
  <%end%>
</table>

<br>
<h3>Other Surveys</h3>
<table>
  <tr>
    <th>Title</th>
  </tr>
  <%surveys = []%>
  <%Survey.all.each do |survey|%>
    <%if Survey.find(survey.id).user_id != current_user.id%>
      <%surveys << Survey.find(survey.id)%>
    <%end%>
  <%end%>
  <%surveys.each do |survey|%>
  <tr>
    <td><%=survey.name%></td>
    <td><a href="/survey/answer/<%=survey.id%>">lala.ly/survey/<%=survey.id%></a></td>
  </tr>
  <%end%>
</table>

<!-- UPDATE -->
  <form action="/update" method="GET">
    <input class="button" type="submit" value="Update User!" />
  </form>

<!-- DELETE-->
  <form action="/delete" method="GET">
    <input class="button" type="submit" value="Delete User!" />
  </form>

 <form action="/logout" method="POST">
    <input class="button" type="submit" value="Log Out!" />
  </form>
  <br>

